<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Bot</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css" >
    
</head>
<body>
    <div class="center">
        <h1>Chat Bot</h1>
        <button class="off" id="btn">Press to gain my attention</button>
    </div>
    

    <div id="tips"> 
        <h1>Try saying things like..</h1>
        <ul>
            <li>Who are you?</li>
            <li>How old are you?</li>
            <li>You're annoying.</li>
            <li>Answer my question.</li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="js/script.js"></script>  
</body>
</html>